// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "./theme.scss";

/* You can add global styles to this file, and also import other style files */

:root {
    --primary: #3E6841;
    --pink: #DB5461;
    --blue: #64B6AC;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    // background-color: #D3DCD4;
    background-color: #F0F0F0;
}

mat-card {
    height: 100%;
    mat-card-title {
        font-size: 14px !important;
    }
}